<div class="footer">
  <div class="footer-content container my-5">
    <!-- Section gauche -->
    <div class="footer-left">
      <h2>Stay connected with <span class="navbar-brand-text">KeepinSpace</span></h2>
      <p>Have questions, feedback, or want to collaborate? Let’s talk!</p>
      <p>Email: <a href="mailto:contact@keepin.space">contact@keepin.space</a></p>
    </div>

    <!-- Section droite -->
    <div class="footer-right">
      <h2>Follow us</h2>
      <div class="footer-links">
        <a href="https://github.com/lucas-westonsmith" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/lucas-weston-smith/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- Ligne de copyright -->
  <div class="footer-bottom">
    <p>© 2025 KeepinSpace. All rights reserved.</p>
  </div>
</div>
